.log-in-form {
  @include centered-absolute();
  @include centered-flex(column);

  padding: $spacing;
  gap: $spacing;
  background: $blue;
  border-radius: $spacing;
  max-width: 300px;
  width: 80%;

  &__hr {
    width: 100%;
  }

  & input {
    background: $blue-lighter;
    color: $black-darker;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border: none;
    padding: $spacing * 0.5;
    border-radius: $spacing;

    &::placeholder {
      font-weight: normal;
      color: $black-darker;
    }

    &:focus {
      outline: $blue-darker $spacing * 0.75 solid;
    }
  }

  &__btn {
    @extend .btn--secondary;
    width: 100%;
  }
}
