.log-in-form {
  @include centered-absolute();
  @include centered-flex(column);

  padding: $spacing;
  gap: $spacing;
  background: $blue;
  border-radius: $spacing;
  max-width: 300px;
  width: 80%;

  &__hr {
    width: 100%;
  }

  & input {
    background: $black;
    color: $white;
    width: 100%;
    text-align: center;
    border: none;
  }

  &__btn {
    @extend .btn--secondary;
    width: 100%;
  }
}
