.ticket-list {
  max-width: 800px;
  position: relative;
  & li:nth-last-child(1) {
    border-bottom: $blue-reduced solid;
  }

  &__spinner {
    width: 100px !important;
    height: 100px !important;
    aspect-ratio: 1/1;
    @include centered-absolute();
  }
}
